<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agents.cop290">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.agents.cop290.MainActivity" />
        </activity>
        <activity
            android:name=".CourseListStudents"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".courseDetail"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".aboutCourseFragment" />
        <activity android:name=".assignmentFragment" />
        <activity android:name=".gradesFragment" />
        <activity android:name=".threadsFragment" />
    </application>

</manifest>
